<!--
 * @Author: your name
 * @Date: 2021-11-10 20:17:00
 * @LastEditTime: 2021-11-14 23:58:46
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \ngcesium\src\app\pages\welcome\pages\add-gltf\add-gltf.component.html
-->
<div>
    <div style='margin:10px'>
        <button nz-button nzType="primary" (click)="addGltfModel_primitives()">添加gltf</button>
        <button nz-button nzType="primary" (click)="mouseSelect()">开启鼠标选中</button>
        <button nz-button nzType="primary" (click)="run1()">贴地运动</button>
    </div>
    <app-init-cesium (mapLoaded) ='mapLoaded($event)'></app-init-cesium>
</div>